:root {
  --color--white: #ffffff;
  --color--black: #000000;

  --color--primary-light: #efd9fa;
  --color--primary: #9f59c3;
  --color--primary-dark: #59157c;
  --color--primary-darker: #260239;
  --color--primary-darkest: #0f0117;
}

@media (prefers-color-scheme: light) {
  :root {
    --border-shadow: var(--color--primary-light);

    --page--background-color: var(--color--white);
    --page--text-color: var(--color--black);
    --link--text-color: var(--color--primary-darker);
    --btn--background-color: var(--color--primary);
    --btn--text-color: var(--color--white);
    --btn--secondary-background-color: var(--color--white);
    --btn--secondary-text-color: var(--page--text-color);
    --btn--secondary-border-color: var(--color--primary);
    --tag--background-color: var(--color--primary-light);
    --tag--text-color: var(--color--primary-darker);
    --card--background-color: var(--color--white);
    --card--blockquote-border: var(--color--primary-light);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --border-shadow: transparent;

    --page--background-color: #262626;
    --page--text-color: #dcdcdc;
    --link--text-color: var(--color--primary);
    --btn--background-color: var(--color--primary);
    --btn--text-color: var(--color--white);
    --btn--secondary-background-color: var(--page--background-color);
    --btn--secondary-text-color: var(--page--text-color);
    --btn--secondary-border-color: var(--color--primary);
    --tag--background-color: var(--color--primary-dark);
    --tag--text-color: var(--color--primary-light);
    --card--background-color: #191919;
    --card--blockquote-border: var(--color--primary-dark);
  }

  img[src$=".png"] {
    filter: invert(1) hue-rotate(180deg) saturate(3);
  }
}

body {
  background-color: var(--page--background-color);
  color: var(--page--text-color);
}

a,
a:visited {
  color: var(--link--text-color);
}

/* BUTTON */
button.btn,
a.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background-color: var(--btn--background-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 4px;
  box-shadow: 3px 3px 10px var(--border-shadow);
  cursor: pointer;
  font-size: 13.3333px;
}

a.btn {
  text-decoration: none;
}

button.btn:active,
a.btn:active {
  box-shadow: none;
}

.btn.secondary {
  background-color: var(--btn--secondary-background-color);
  color: var(--btn--secondary-text-color);
  border: 1px solid var(--btn--secondary-border-color);
  color: unset;
}

/* FORM */

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
form .field {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

form .field > * {
  max-width: 100%;
}
form .field label {
  text-align: end;
  flex: 1;
}
form .field input {
  flex: 2;
  border-radius: 2px;
  outline: none;
  border: 0.5px solid var(--color--primary-light);
  padding: 4px;
}
form .field input:active,
form .field input:focus,
form .field textarea:active,
form .field textarea:focus {
  outline: none;
  border: 1.5px solid var(--color--primary);
  box-shadow: 1px 1px 15px var(--color--primary-light);
}

form .field textarea {
  flex: 1;
  min-height: 120px;
  border: 0.5px solid var(--color--primary-light);
}

form .field .extra {
  flex: 1 0 100%;
}

form .field .input-group {
  display: flex;

  input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
