:root {
  --color--white: #ffffff;
  --color--black: #000000;

  --color--primary-light: #efd9fa;
  --color--primary: #9f59c3;
  --color--primary-dark: #59157c;
  --color--primary-darker: #260239;
  --color--primary-darkest: #0f0117;

  --message--info-color: #1565c0;
  --message--info-background-color: #bbdefb;
  --message--success-color: #4caf50;
  --message--success-background-color: #c8e6c9;
  --message--error-color: #b71c1c;
  --message--error-background-color: #ffcdd2;
}

@media (prefers-color-scheme: light) {
  :root {
    --border-shadow: var(--color--primary-light);

    --page--background-color: var(--color--white);
    --page--text-color: var(--color--black);
    --link--text-color: var(--color--primary-darker);
    --btn--background-color: var(--color--primary);
    --btn--text-color: var(--color--white);
    --btn--secondary-background-color: var(--color--white);
    --btn--secondary-text-color: var(--page--text-color);
    --btn--secondary-border-color: var(--color--primary);
    --tag--background-color: var(--color--primary-light);
    --tag--text-color: var(--color--primary-darker);
    --card--background-color: var(--color--white);
    --card--blockquote-border: var(--color--primary-light);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --border-shadow: transparent;

    --page--background-color: #262626;
    --page--text-color: #dcdcdc;
    --link--text-color: var(--color--primary);
    --btn--background-color: var(--color--primary);
    --btn--text-color: var(--color--white);
    --btn--secondary-background-color: var(--page--background-color);
    --btn--secondary-text-color: var(--page--text-color);
    --btn--secondary-border-color: var(--color--primary);
    --tag--background-color: var(--color--primary-dark);
    --tag--text-color: var(--color--primary-light);
    --card--background-color: #191919;
    --card--blockquote-border: var(--color--primary-dark);
  }

  img[src$=".png"] {
    filter: invert(1) hue-rotate(180deg) saturate(3);
  }
}

body {
  background-color: var(--page--background-color);
  color: var(--page--text-color);
}

a,
a:visited {
  color: var(--link--text-color);
}

/* BUTTON */
button.btn,
a.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background-color: var(--btn--background-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 4px;
  box-shadow: 3px 3px 10px var(--border-shadow);
  cursor: pointer;
  font-size: 13.3333px;
}

a.btn {
  text-decoration: none;
}

button.btn:active,
a.btn:active {
  box-shadow: none;
}

.btn.secondary {
  background-color: var(--btn--secondary-background-color);
  color: var(--btn--secondary-text-color);
  border: 1px solid var(--btn--secondary-border-color);
  color: unset;
}

/* FORM */

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
form .field {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

form .field > * {
  max-width: 100%;
}
form .field label {
  text-align: end;
  flex: 1;
}
form .field input {
  flex: 2;
  border-radius: 2px;
  outline: none;
  border: 0.5px solid var(--color--primary-light);
  padding: 4px;
}
form .field input:active,
form .field input:focus,
form .field textarea:active,
form .field textarea:focus {
  outline: none;
  border: 1.5px solid var(--color--primary);
  box-shadow: 1px 1px 15px var(--color--primary-light);
}

form .field textarea {
  flex: 1;
  min-height: 120px;
  border: 0.5px solid var(--color--primary-light);
}

form .field .extra {
  flex: 1 0 100%;
}

form .field .input-group {
  display: flex;

  input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

/* TABS */

section[role="tablist"] {
  display: flex;
  flex-wrap: wrap;

  & > input[type="radio"] {
    display: none;
  }

  label {
    display: block;
    cursor: pointer;
    padding: 1rem 1.5rem;
    background-color: var(--page--background-color);
    border: 0.05rem solid var(--card--background-color);
    border-bottom-width: 0;
    z-index: 10;
    flex: 1;
  }

  input[type="radio"]:checked + label {
    background-color: var(--card--background-color);
    border-color: var(--card--background-color);
    border-bottom: 0.25rem var(--color--primary-dark) solid;
  }

  & > [role="tabpanel"] {
    width: 100%;
    display: none;
    animation-duration: 0.25s;
    animation-name: fadeOutToNone;
    animation-fill-mode: forwards;
  }

  input[type="radio"]:nth-of-type(1):checked ~ [role="tabpanel"]:nth-of-type(1),
  input[type="radio"]:nth-of-type(2):checked ~ [role="tabpanel"]:nth-of-type(2),
  input[type="radio"]:nth-of-type(3):checked ~ [role="tabpanel"]:nth-of-type(3),
  input[type="radio"]:nth-of-type(4):checked ~ [role="tabpanel"]:nth-of-type(4),
  input[type="radio"]:nth-of-type(5):checked ~ [role="tabpanel"]:nth-of-type(5),
  input[type="radio"]:nth-of-type(6):checked ~ [role="tabpanel"]:nth-of-type(6),
  input[type="radio"]:nth-of-type(7):checked ~ [role="tabpanel"]:nth-of-type(7),
  input[type="radio"]:nth-of-type(8):checked ~ [role="tabpanel"]:nth-of-type(8),
  input[type="radio"]:nth-of-type(9):checked ~ [role="tabpanel"]:nth-of-type(9),
  input[type="radio"]:nth-of-type(10):checked
    ~ [role="tabpanel"]:nth-of-type(10) {
    display: unset;
    animation-name: fadeInFromNone;
  }
}

/* ANIMATIONS */

@keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOutToNone {
  0% {
    opacity: 1;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
