---
import { version } from "../../package.json";
---

<footer>
  Go Read Yourself v{version} @ 2023 made with <a href="/admin" class="admin">❤️</a> by <a
    href="https://github.com/kuroidoruido/go-read-yourself/">Anthony Pena</a
  >
</footer>

<style>
  footer {
    text-align: center;
    padding: 1rem 0 2rem;
  }

  footer a.admin {
    text-decoration: none;
  }
</style>
