---
import { Icon } from "astro-icon/components";

export type MessageType = "error" | "success" | "info";

interface Props {
  type?: MessageType;
  title: string;
  message?: string;
  style?: string;
}

const { type = "info", title, message = "", style } = Astro.props;

const icon = (() => {
  switch (type) {
    case "success":
      return "lucide:badge-check";
    case "error":
      return "lucide:alert-triangle";
    default:
      return "lucide:info";
  }
})();
---

<section class:list={["message", "message-" + type]} style={style}>
  <div class="header">
    <Icon name={icon} aria-hidden="true" />{title}
  </div>
  <div>{message}</div>
</section>

<style>
  .message {
    --message--main-color: var(--message--info-color);
    --message--light-color: var(--message--info-background-color);

    border: 1px solid var(--message--main-color);
    display: flex;
    flex-direction: column;
    background-color: var(--message--light-color);
    color: var(--color--black);
    padding: 1rem;
    margin: 1rem;
    gap: 1rem;

    .header {
      display: flex;
      align-items: center;
      gap: 1rem;

      svg[data-icon] {
        color: var(--message--main-color);
        height: 1.5rem;
        width: 1.5rem;
      }
    }

    &.message-success {
      --message--main-color: var(--message--success-color);
      --message--light-color: var(--message--success-background-color);
    }

    &.message-error {
      --message--main-color: var(--message--error-color);
      --message--light-color: var(--message--error-background-color);
    }
  }
</style>
