---
import NewsCard from "../components/NewsCard.astro";
import { NewsService } from "../services/news.service";
import { UserService } from "../services/user.service";

interface Props {
  max?: number;
}

const isAdmin = UserService.isConnectedAsAdmin(
  (name) => Astro.cookies.get(name)?.value
);

const { max: maxPost = Number.MAX_SAFE_INTEGER } = Astro.props;
---

<div class="news-container" data-testid="news-container">
  {
    NewsService.getNews()
      .news.slice(0, maxPost)
      .map((entry) => <NewsCard news={entry} editable={isAdmin} />)
  }
</div>

<style>
  .news-container {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  @media (width < 700px) {
    .news-container {
      padding: 16px 8px;
    }
  }
</style>
