<button class="tag" type="button"><slot /></button>

<style>
  button {
    display: inline-block;
    padding: 4px 16px;
    background-color: var(--color--primary-light);
    border: none;
    border-radius: 32px;
  }
  button:hover {
    cursor: pointer;
  }
</style>
