<button class="tag" data-testid="tag" type="button"><slot /></button>

<style>
  button {
    display: inline-block;
    padding: 4px 16px;
    background-color: var(--tag--background-color);
    color: var(--tag--text-color);
    border: none;
    border-radius: 32px;
  }
  button:hover {
    cursor: pointer;
  }
</style>
