---
import { title } from "../../data/config.json";
import AddFab from "../components/AddFab.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

import "../styles/main.css";

interface Props {
  noFAB?: boolean;
}

const { noFAB = false } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="alternate"
      type="application/rss+xml"
      href="/feed.xml"
      title="RSS Feed"
    />
    <title>{title}</title>
  </head>
  <body>
    <Header title={title} />
    <slot />
    <Footer />
    {!noFAB && <AddFab />}
  </body>
</html>
<style>
  body {
    margin: 0;
  }
</style>
