---
import { ConfigService } from "../services/config.service";

import "../styles/main.css";

const { title } = ConfigService.getConfig();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <slot name="head" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style>
  body {
    margin: 0;
  }
</style>
